@charset "utf-8";
/*css document*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,fieldset,figure,img{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;
}
input, select, textarea, button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    resize: none;
    font-size: inherit;
    margin: 0;
    font-family: inherit;
}


.clearfix{
	content: "";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

/*头部*/

/*轮播图*/
.bannr{
	width: 100%;
}
.bannrTop{
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
.bannrTop ul{
	width: 1000px;
	overflow: hidden;
	text-align: center;
}
.market-a{
	margin-top: 20px;
}

.bannrTop ul li{
	height: 80px;
	margin-left: 20px;
	float: left;
	display: inline-block;
	width: 150px;
	
}
.bannrTop ul li p{
	margin-top: 20px;
}
.bannrTop ul li p.Pp{
	margin-top: 0px;
}
.bannrTop ul li.Obg{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/3.jpg) no-repeat;
	background-size: 20px;
	
}
.bannrTop p{
	color: grey;
}


.focusBox {
	position: relative;
	width: 960px;
	height: 450px;
	overflow: hidden;
}

.focusBox .pic {
	position: relative;
	z-index: 0;
}

.focusBox .pic img {
	width: 960px;
	height: 450px;
	display: block;
	
}

.focusBox .hd {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 0;
	z-index: 1;
}

.focusBox .hd li {
	margin: 0 5px;
	background: url(../img/dot.png) no-repeat 0 -16px;
	height: 16px;
	overflow: hidden;
	width: 16px;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	zoom: 1;
	_background: url(images/dot8.png) no-repeat 0 -16px;
}

.focusBox .hd .on {
	background-position: 0 0;
}

.focusBox .prev,.focusBox .next {
	width: 60px;
	height: 90px;
	margin: -60px 0 0;
	display: none;
	background: url(../img/ad_ctr.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	filter: alpha(opacity=20);
	opacity: 0.2;
}

.focusBox .prev {
	left: 0;
}

.focusBox .next {
	background-position: 0 -90px;
	right: 0;
}

.focusBox .prev:hover,.focusBox .next:hover {
	filter: alpha(opacity=50) !important;
	opacity: 0.5 !important;
}
.first-a a span{
	color:black;

}
.first-a{
	width: 100%;
	height: 10px;
	padding-top: 60px;
}
.first-b{
	width: 1200px;
	height: 30px;
	margin:0 auto;

}
.first-c{
	display: block;
	width: 100px;
	margin:0 auto;
	line-height: 30px;
	text-align: center;
	float: right;
	margin-right:350px;
}
.first-d{
	display: block;
	width: 100px;
	line-height: 30px;
	text-align: center;
	float: right;
	margin-right: 100px;
}
.first-d span:hover{
	text-decoration: underline;
}
.market {
	width: 1000px;
	padding-left: 20px;
	margin:0 auto;
}
.market_con{
	width: 100%;
	height: 100%;
	margin-top:16px;
}
.list{
	width:150px;
	float:left;
	
	position:relative;
	left:0;
	top:0;
	padding: 5px;
	border-left: 1px solid pink;
	position: relative;

}
.list>img{
	width: 150px;
	height: 150px;
	
}
.add{
	position:absolute;
	right:5px;
	top:5px;
	cursor: pointer;

}
.list i{
	display: block;
	height: 30px;
	font-size: 10px;
	color:#7b7b7b;
	text-align: center;
	cursor: pointer;


}
.list p{
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	color:#999;
	text-align: center;

}
.list a:last-child{
	display: block;
	height: 50px;
}
.list i:hover{
	text-decoration: underline;
}
.photo{
	width: 960px;
	height: 720px;
	margin:0 auto;
}
.photo-one{
	width:460px;
	height: 460px;
	background: url(../img/12.jpg)no-repeat;
	background-size: 460px 460px;
	cursor: pointer;
	float: left;

}
.photo-one h2{
	padding-bottom: 30px;
	padding-top: 310px;
	font-family:  Optima LT W01 Roman;
	width: 460px;
	height: 30px;
	text-align: center;
	line-height:30px;
}
.photo-one p{
	width: 260px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	line-height: 35px;
	margin:0 auto;
}
.photo-two{
	float: right;
	background: url(../img/13.jpg)no-repeat;
	background-size: 460px 460px;
}
.photo-three{
	margin:0 auto;
	width: 960px;
	height: 460px;
	background: url(../img/14.jpg)no-repeat;
	background-size: 960px 460px;
	cursor: pointer;
}
.photo-three h2{
	margin:0 auto;
	padding-bottom: 30px;
	padding-top: 310px;
	font-family:  Optima LT W01 Roman;
	width: 460px;
	height: 30px;
	text-align: center;
	line-height:30px;
}
.photo-three p{
	width: 260px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	line-height: 35px;
	margin:0 auto;
}
.photo-a{
	width: 960px;
	height: 495px;
	margin:30px auto 0;

}
.photo-four{
	width:460px;
	height: 460px;
	background: url(../img/15.jpg)no-repeat;
	background-size: 460px 460px;
	float: left;
}
.photo-five{
	width:460px;
	height: 460px;
	background: url(../img/16.jpg)no-repeat;
	background-size: 460px 460px;
	float: right;
}

